<!DOCTYPE html>
<html>
<head>
    <title>Yogi's Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Hello, I'm Yogesh!</h1>
    <p>Welcome to My Projects Section.</p>

    
    <section class="site-section" id="project">
		<div class="container">
			<div class="row">
				<div class="section-heading text-center col-md-12">
					<h2>My <strong>Projects</strong></h2>
				</div>
			</div>
			<div class="filters">
				<ul>
					
					<li data-filter=".packaging">3-Tier</li>
					<li data-filter=".mockup">Nginx Reverse proxy</li>
					<li data-filter=".typography">Python Projects</li>
				</ul>
			</div>
        </div>    
	</section>
	<!-- .section -->

</body>
</html>




