<!DOCTYPE html>
<html>
<head>
    <title>Yogi's Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Hello, I'm Yogesh!</h1>
    <p>Welcome to My Resume Section .</p>

    <section class="site-section" id="resume">
		<div class="container">
			<div class="row">
				<div class="section-heading text-center col-md-12">
					<h2>My <strong>Resume</strong></h2>
				</div>
			</div>
			<div class="filters">
				<ul>
					
					<li data-filter=".packaging"></li>
					<li data-filter=".mockup"></li>
					<li data-filter=".typography"></li>
				</ul>
			</div>
        </div>    
	</section>
	<!-- .section -->

</body>
</html>


